.container {
    color: #fff;
    border-radius: 30px;
    padding: 30px;
    background-color: brown;
    max-width: 400px;
    margin: 0 auto;
}
.App {
    text-align: center;
}
input {
    
    border-radius: 15px;
    padding: 10px;
}
button {
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: 9px;
    background-color: black;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: #48ff00;
}
h1 {
    text-align: center;
}

.resultado {
    font-size: bold;
    color: #48ff00;
}
